.main-home {
    @include px(10px);
    & > h2 {
        color: $color-seashell;
        @include my(20px 40px);
    }

    .notes {
        @include flex(20px, no, wrap, center);
        a {
            display: block;
            @include w-h(200px, 100px);
            @include p(10px);
            color: $color-mirage;
            @include bg($color-seashell);
            @include border(no, no, no, 5px);

            h2 {
                @include text(1.5rem);
            }

            h3 {
                @include text(1.2rem, no, 100);
            }

            &:hover {
                box-shadow: inset 0 0 10px rgba(0,0,0,1);
            }
        }
    }

    .links {
        @include flex(10px, no, wrap);

        a:hover {
            box-shadow: inset 0 0 10px #000;
            @include border(1px, solid, $color-seashell);
        }

        a {
            @include border(no, no, no, 5px);
            @include p(5px 10px);
            color: $color-seashell;
            
            &:first-of-type {
                @include bg($color-seashell);
                color: $color-mirage;
            }
            
            &:nth-of-type(2) {
                @include bg($color-meadow);
            }
            
            &:last-of-type {
                @include bg($color-flamingo);
            }
        
        }


    }

    article {
        @include py(10px);
        color: $color-seashell;
        @include flex(10px, column)
    }
}